<div class="banner-carousel banner-carousel-1 mb-0">
   <%dbData.headerAnim.forEach((item, i) => { %>
    <div class="banner-carousel-item" style="background-image:url(<%=item.backgroundImg%>)">
      <div class="slider-content">
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-12 text-center">
                  <h2 class="slide-title" data-animation-in="slideInLeft"><%=item.subtitle%></h2>
                  <h3 class="slide-sub-title" data-animation-in="slideInRight"><%=item.title%></h3>
                  <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <%item.buttons.forEach((item, i) => { %>
                      <a href="<%=item.link%>" class="slider btn <%=item.type%>"><%=item.title%></a>
                      <%});%>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>
    <% }); %> 
  </div>