<% if(dbData.products.length >= 3) { %>
  <section id="news" class="news dark-bg">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Blog e Notícias</h2>
          <h3 class="section-sub-title">Projetos Recentes</h3>
        </div>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
        <% dbData.blogPosts.forEach((item, i)=> { %>
          <% if(i>= 3) return; %>
            <div  data-aos="zoom-out-down" class="col-lg-4 col-md-6 mb-4">
              <div class="latest-post">
                <div class="latest-post-media">
                  <a href="/blog/<%= item.id %>" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="<%= item.media.src %>" alt="img">
                  </a>
                </div>
                <div  class="post-body">
                  <h4   class="post-title">
                    <a style="color: white;" href="/blog/<%= item.id %>" class="d-inline-block">
                      <%= item.title %>
                    </a>
                  </h4>
                  <div  style="color: white;" class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i>
                      <script>
                        document.write(moment("<%=item.date%>").fromNow());
                      </script>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
      </div>
      <!--/ Content row end -->
  
      <div class="general-btn text-center mt-4">
        <a style="color: #009eef;background-color: white;" class="btn btn-primary" data-aos="fade-up" href="/blog">Ver todos os Posts</a>
      </div>
  
    </div>
    <!--/ Container end -->
  </section>
<% } %> 