<footer id="footer" class="footer bg-overlay">
  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 footer-widget footer-about">
          <h3 class="widget-title">Sobre Nós</h3>
          <img loading="lazy" width="200px" class="footer-logo"
            src="https://cdn.glitch.global/e3790b73-514c-45b3-a987-85c9a4b7481f/d%20walt%20logo%20nova.svg?v=1644971753268"
            alt="Constra">
          <p>Com mais de 5 anos de experiência no mercado, nós acreditamos em um serviço de atendimento aos clientes de
            altíssima qualidade – mas também somos da opinião de que todos os nossos clientes merecem vivenciar uma
            experiência de compra inesquecível, e é por isso que tentamos proporcionar produtos excelentes a um preço
            acessível.</p>
          <div class="footer-social">
            <ul>
              <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                    class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <h3 class="widget-title">Endereço</h3>
          <p>
            Rua Acácia, 1686, sala A, Setor 01 - Ariquemes - Rondônia / CNPJ: 26.711.744/0001-08
          </p>

        </div>
        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <h3 class="widget-title">Horário de Funcionamento</h3>
          <div class="working-hours">
            Trabalhamos 6 dias por semana, todos os dias, exceto feriados importantes. Contate-nos em caso de
            emergência, através da nossa linha direta e formulário de contato.
            <br><br> Segunda - Sexta: <span class="text-right">08:00 - 18:00</span>
            <br> Sábado e feriados: <span class="text-right">08:00 - 11:00</span>
            <br> Domingo: <span class="text-right">Fechado</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
          <h3 class="widget-title">Serviços</h3>
          <ul class="list-arrow">
            <% dbData.services.forEach((item, i)=> { %>
              <li><a href="/servicos/<%= item.id %> ">
                  <%= item.title %>
                </a></li>
              <% }); %>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
          <h3 class="widget-title">Formas de Pagamento</h3>
          <ul style="list-style: none;">
            <div class="row">
              <li><i style="font-size: 50px; margin: 0px 5px 0px 5px;" class="fab fa-cc-stripe"></i></li>
              <li><i style="font-size: 50px; margin: 0px 5px 0px 5px;" class="fab fa-cc-visa"></i></li>
              <li><i style="font-size: 50px; margin: 0px 5px 0px 5px;" class="fab fa-cc-mastercard"></i></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="copyright-info text-center text-md-left">
            <span>Copyright D Walt Engenharia &copy;
              <script>
                document.write(new Date().getFullYear())
              </script> Todos os Direitos Reservados, design &amp; desenvolvimento por <a
                href="https://themefisher.com">Themefisher</a> & <a href="https://www.devluar.com">Raul Rodrigues</a>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-menu text-center text-md-right">
            <ul class="list-unstyled">
              <li><a href="/staffs">Staffs</a></li>
              <% if(dbData.faq && dbData.faq.length >= 5) {%>
              <li><a href="/faq">F.A.Q</a></li>
              <% } %>
              <% if(dbData.blogPosts && dbData.blogPosts.length >= 5) {%>
              <li><a href="/blog">Blog</a></li>
              <% } %>
              <% if(dbData.products && dbData.products.length >= 5) {%>
              <li><a href="/loja">Produtos</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
        <button class="btn btn-primary" title="Back to Top">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/plugins/jQuery/jquery.min.js"></script>
<script src="/plugins/bootstrap/bootstrap.min.js" defer></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/plugins/slick/slick-animation.min.js"></script>
<script src="/plugins/colorbox/jquery.colorbox.js"></script>
<script src="/plugins/shuffle/shuffle.min.js" defer></script>
<script src="/js/script.js"></script>
<script src="/plugins/aos/aos.js"></script>
<script type="text/javascript" src="/plugins/notifIt/notifIt.js"></script>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
<script>
  let map = L.map('mapaaa').setView([-11.12, -51.661], 3);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    { attribution: '© OpenStreetMap contributors' }).addTo(map);
  let LeafIcon = L.Icon.extend({
    options: {
      shadowUrl: 'leaf-shadow.png',
      iconSize: [60, 60],
    }
  });

  let systemIcon = new LeafIcon({ iconUrl: 'https://static.wixstatic.com/media/2f7194_fa185c61f22e43f193b873822dec1beb~mv2.png/v1/fill/w_426,h_410,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Placa-Painel-Solar.png' });

  <% if (dbData.projects) {%>
  <% dbData.projects.forEach((item, i) => { %>
    <%if (!item.coords) return;%>
      L.marker([<%=item.coords.split(",")[0] %>, <%=item.coords.split(",")[1] %>], { icon: systemIcon }).bindPopup('<%=item.desc%>').addTo(map);
  <%});%>
  <%}%>
</script>

<script
  type="text/javascript">(function (n, r, l, d) { try { var h = r.head || r.getElementsByTagName("head")[0], s = r.createElement("script"); s.defer = true; s.setAttribute("type", "text/javascript"); s.setAttribute("src", l); n.neuroleadId = d; h.appendChild(s); } catch (e) { } })(window, document, "https://cdn.leadster.com.br/neurolead/neurolead.min.js", 26058);</script>
</div>
</body>

</html>