<%- include('../../partials/header.ejs') %>
  <div id="banner-area" class="banner-area" style="background-image:url(https://www.oseudinheirovalemais.com.br/wp-content/uploads/2019/12/verao-e-epoca-de-aproveitar-a-energia-solar.png)">
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-heading">
              <h1 class="banner-title"><%=project.title%></h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Página Principal</a></li>
                  <li class="breadcrumb-item"><a href="/projetos">Projetos</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><%=project.title%></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="page-slider" class="page-slider small-bg">
            <% project.media.forEach((item, i) => { %>
              <div class="item">
                <img loading="lazy" class="img-fluid" src="<%=item%>" alt="project-image" />
              </div>
            <% }) %> 
          </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <h3 class="column-title mrt-0"><%=project.title%></h3>
          <p><%=project.desc%></p>
          <ul class="project-info list-unstyled">
            <li>
              <p class="project-info-label">Cliente</p>
              <p class="project-info-content"><%=project.customer%></p>
            </li>
            <li>
              <p class="project-info-label">Engenheira</p>
              <p class="project-info-content">Taynara Bastos Trindade</p>
            </li>
            <li>
              <p class="project-info-label">Local</p>
              <p class="project-info-content"><%=project.coords%></p>
            </li>
            <li>
              <p class="project-info-label">Tamanho</p>
              <p class="project-info-content"><%=project.size%></p>
            </li>
            <li>
              <p class="project-info-label">Data</p>
              <p class="project-info-content"><%=project.date.initial%> - <%=project.date.end%></p>
            </li>
            <li>
              <p class="project-info-label">Tipo</p>
              <p class="project-info-content"><%=project.type%></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <%- include('../../partials/footer.ejs') %>