<%- include('../../partials/header.ejs') %>
  <div id="banner-area" class="banner-area" style="background-image:url(/images/banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-heading">
              <h1 class="banner-title">
                <%=job.titulo%>
              </h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Página Principal</a></li>
                  <li class="breadcrumb-item"><a href="/servicos">Serviços</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <%=job.titulo%>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="sidebar sidebar-left">
            <div class="widget">
              <h3 class="widget-title">Vagas</h3>
              <ul class="nav service-menu">
                <% dbData.vagas.forEach((item, i)=> { %>
                  <li class="<%= (item.id === job.id) ? " active" : "" %>"><a href="<%=item.id%>">
                      <%=item.titulo%>
                    </a></li>
                  <% }); %>
              </ul>
            </div>
            <div class="widget">
              <div class="quote-item quote-border">
                <div class="quote-text-border">
                  Nossos funcionários são nossa família.
                </div>
                <div class="quote-item-footer">
                  <img loading="lazy" class="testimonial-thumb" src="https://cdn.discordapp.com/attachments/921106059375046706/922574711026761798/pp.png" alt="testimonial">
                  <div class="quote-item-info">
                    <h3 class="quote-author">Walter Silva</h3>
                    <span class="quote-subtext">CEO</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8">
          <div class="content-inner-page">
            <h2 class="column-title mrt-0">
              <%=job.titulo%>
            </h2>
            <div class="row">
              <div class="col-md-12">
                <p>
                  <%=job.desc%>
                </p>
              </div>
            </div>
            <div class="gap-40"></div>
            <div id="page-slider" class="page-slider">
              <div class="item">
                <img loading="lazy" class="img-fluid" src="<%=job.img%>" alt="project-slider-image" />
              </div>
            </div>
            <div class="gap-40"></div>
            <div class="row">
              <div class="col-md-6">
                <h3 class="column-title-small">Sobre a Vaga</h3>
                <p>
                  <%=job.desc%>
                </p>
                <ul class="list-arrow">
                  <% job.requisitos.forEach((item, i)=> { %>
                    <li>
                      <%=item%>
                    </li>
                    <% }); %>
                </ul>
              </div>
              <div class="col-md-6 mt-5 mt-md-0">
                <h3 class="column-title-small">Informações Úteis</h3>
                <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                  <% job.ysk.forEach((item, i)=> { %>
                    <div class="card">
                      <div class="card-header p-0 bg-transparent" id="heading<%=i%>">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                            <%=item.question%>
                          </button>
                        </h2>
                      </div>
                      <div id="collapse<%=i%>" class="collapse show" aria-labelledby="heading<%=i%>"
                        data-parent="#construction-accordion">
                        <div class="card-body">
                          <%=item.response%>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                </div>

              </div>
            </div>

            <div class="gap-40"></div>
            <div class="call-to-action classic">
              <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                  <div class="call-to-action-text">
                    <h3 class="action-title">Interessado?</h3>
                  </div>
                </div>
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                  <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="<%= dbData.infos.whatsapp %>">Enviar Currículo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../../partials/footer.ejs') %>